.App {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to top right, #232322, #94942d, #b1b132, #f1f105);
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
  position: relative; 
}

.filter-container {
  align-self: flex-end;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.topic-filter {
  align-self: flex-start;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.data-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 400px;
  background-color: #f9f9f9;
}

.data-item div {
  margin-bottom: 8px;
}

h6 {
  margin: 4px 0;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}
.dropdowns {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}